<center>
    <header id="header" class="header">
        <h1>CreateJS 教程</h1>
        <p> CreateJS 教程，包括 EaselJS, TweenJS, PreloadJS, 和 SoundJS 的相关使用方法，通过各个例子讲解 CreateJS 的详细使用步骤。</p>
    </header>
</center>
<div>
    <h3>EaselJS: </h3>
    <ul>
        <li><a href="createjs/easeljs/BarGraph.html" target="_blank"><font class="font">绘制动态条形图</font></a></li>
        <li><a href="createjs/easeljs/BitmapAnimation.html" target="_blank"><font class="font">动画序列和精灵表</font></a></li>
        <li><a href="createjs/easeljs/Cache.html" target="_blank"><font class="font">缓存和 snapToPixel 的使用</font></a></li>
        <li><a href="createjs/easeljs/Cache_update.html" target="_blank"><font class="font">updateCache 的使用</font></a></li>
        <li><a href="createjs/easeljs/Cache_vday.html" target="_blank"><font class="font">Hearts</font></a></li>
        <li><a href="createjs/easeljs/CurveTo.html" target="_blank"><font class="font">Curve To 的使用</font></a></li>
        <li><a href="createjs/easeljs/DragAndDrop_hitArea.html" target="_blank"><font class="font">带有点击区域拖拽效果的实现</font></a></li>
        <li><a href="createjs/easeljs/ExtractFrame.html" target="_blank"><font class="font">提取指定帧</font></a></li>
        <li><a href="createjs/easeljs/Filters.html" target="_blank"><font class="font">对文件应用不同的滤镜</font></a></li>
        <li><a href="createjs/easeljs/Filters_simple.html" target="_blank"><font class="font">滤镜更新</font></a></li>
        <li><a href="createjs/easeljs/GlobalToLocal1.html" target="_blank"><font class="font">全局坐标转换为本地坐标</font></a></li>
        <li><a href="createjs/easeljs/Graphics_simple.html" target="_blank"><font class="font">简单的图形示例</font></a></li>
        <li><a href="createjs/easeljs/GraphicsReuse.html" target="_blank"><font class="font">图形的重用</font></a></li>
        <li><a href="createjs/easeljs/GraphicsTest.html" target="_blank"><font class="font">图形测试</font></a></li>
        <li><a href="createjs/easeljs/GraphicsTestTiny.html" target="_blank"><font class="font">图形测试 (微接口版)</font></a></li>
        <li><a href="createjs/easeljs/HelloWorld.html" target="_blank"><font class="font">文本 Hello World!</font></a></li>
        <li><a href="createjs/easeljs/Icons.html" target="_blank"><font class="font"> 使用 BitmapAnimation 和 SpriteSheet 显示图标</font></a></li>
        <li><a href="createjs/easeljs/LocalToGlobal.html" target="_blank"><font class="font"> localToGlobal 的使用</font></a></li>
        <li><a href="createjs/easeljs/Masks.html" target="_blank"><font class="font">遮罩演示</font></a></li>
        <li><a href="createjs/easeljs/Segments.html" target="_blank"><font class="font">骨架动画，Segment 类的使用</font></a></li>
        <li><a href="createjs/easeljs/Sparkles.html" target="_blank"><font class="font">BitmapAnimation 星星示例</font></a></li>
        <li><a href="createjs/easeljs/SparklesFade.html" target="_blank"><font class="font">BitmapAnimation 星星示例（消退）</font></a></li>
        <li><a href="createjs/easeljs/SpriteSheet_simple.html" target="_blank"><font class="font">简单的图片精灵示例</font></a></li>
        <li><a href="createjs/easeljs/SpriteSheetBuilder.html" target="_blank"><font class="font">SpriteSheetBuilder 示例</font></a></li>
        <li><a href="createjs/easeljs/SpriteSheetFlip.html" target="_blank"><font class="font">翻转图片精灵</font></a></li>
        <li><a href="createjs/easeljs/Text_links.html" target="_blank"><font class="font">文本链接示例</font></a></li>
        <li><a href="createjs/easeljs/Text_multiline.html" target="_blank"><font class="font">多行文本</font></a></li>
        <li><a href="createjs/easeljs/Text_simple.html" target="_blank"><font class="font">简易文本</font></a></li>
        <li><a href="createjs/easeljs/Transform_simple.html" target="_blank"><font class="font">简单的转换示例</font></a></li>
        
        <br />
        
        <li><a href="createjs/easeljs/APITest.html" target="_blank"><font class="font">API 的使用</font></a></li>
        <li><a href="createjs/easeljs/Filters_input.html" target="_blank"><font class="font">滤镜示例</font></a></li>
        <li><a href="createjs/easeljs/Transform.html" target="_blank"><font class="font">transform 效果演示</font></a></li>
    </ul>
        
    <h3>PreloadJS:</h3>
    <ul>
        <li><a href="createjs/preloadjs/MediaGrid.html" target="_blank"><font class="font">多媒体加载示例</font></a></li>
        <li><a href="createjs/preloadjs/PreloadImages.html" target="_blank"><font class="font">加载图片</font></a></li>
        <li><a href="createjs/preloadjs/PreloadQueue.html" target="_blank"><font class="font">加载文件队列</font></a></li>
        <li><a href="createjs/preloadjs/SpriteSheet.html" target="_blank"><font class="font">加载图片精灵示例</font></a></li>
    </ul>
        
    <h3>SoundJS:</h3>
    <ul>
        <li><a href="createjs/soundjs/JustPlay.html" target="_blank"><font class="font">音频播放</font></a></li>
        <li><a href="createjs/soundjs/PreloadAndPlay.html" target="_blank"><font class="font">预加载及播放</font></a></li>
        <li><a href="createjs/soundjs/SoundExplosion.html" target="_blank"><font class="font">Tween & Sound 结合</font></a></li>
        <li><a href="createjs/soundjs/SoundGrid.html" target="_blank"><font class="font">声音表单</font></a></li>
        
        <br />

        <li><a href="createjs/soundjs/TestSuite.html" target="_blank"><font class="font">Sound 测试套件</font></a></li>
    </ul>
        
    <h3>TweenJS:</h3>
    <ul>
        <li><a href="createjs/tweenjs/Example.html" target="_blank"><font class="font">Canvas 补间制作</font></a></li>
        <li><a href="createjs/tweenjs/MotionGuideBlitz.html" target="_blank"><font class="font">MotionGuidePlugin 使用（A）</font></a></li>
        <li><a href="createjs/tweenjs/MotionGuideDemo.html" target="_blank"><font class="font">MotionGuidePlugin 使用（B）</font></a></li>
        <li><a href="createjs/tweenjs/SimpleTweenDemo.html" target="_blank"><font class="font">简易 Tween 制作</font></a></li>
        <li><a href="createjs/tweenjs/Tween_Circles.html" target="_blank"><font class="font">Tween_Circles</font></a></li>

        <br />
        
        <li><a href="createjs/tweenjs/Tween_SparkTable.html" target="_blank"><font class="font">Tween Ease 运动效果演示</font></a></li>
    </ul>
</div>

<div id="demoContainer" class="demoContainer">
    <div id="canvasContainer" class="canvasContainer"> 
        
    </div>
</div>